<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4 fixed-top">
  <a class="navbar-brand" href="<%= root_path %>">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav mr-auto">
    <% if current_page?(accion: 'orders#index') %>
    <li class="nav-item">
      <%= link_to 'Seguir Comprando', root_path, class:'btn btn-info' %>
    </li>
    <% end %>
  </ul>
  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav ml-auto">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search" id="buscar">
        <button class="btn btn-info my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
      </form>
      <% if user_signed_in? %>
        <li class="nav-item active">
          <a class="nav-link" href="#"><%= current_user.email %> <span class="sr-only">(current)</span></a>
        </li>
        <% if current_user.orders.present? %>
          <a class="btn btn-info" href="<%= orders_path %>">
          Productos <span class="badge badge-light"><%= @cantidad %></span>
          </a>
        <% end %>
        <li class="nav-item">
          <%= link_to 'cerrar sesión', destroy_user_session_path, method: :delete, class: 'nav-link text-light' %>
        </li>
      <% else %>
        <%= link_to 'Registrarse', new_user_registration_path, class: 'nav-link' %>
        <%= link_to 'Iniciar Sesión',  new_user_session_path, class: 'nav-link' %>
      <% end %>
    </ul>
  </div>
</nav>
<ul class="m-5"></ul>
